
.flight{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flight h1{
    color: #FFFFFF;
    font-size: 4vh;
}
.flight h2{
    text-align: center;
    color: black;
    font-size: 2.5vh;
}
.flight p{
    color: #000000;
    font-size: 1.5vh
}


.flight .card{
    padding: 0.5vw;
    height: 50vh;
    width: 20vw;
    object-fit: cover;
    background-color: #FFFFFF;
    border-radius: 1vw;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 1vw;
    margin-top: 0;
    border-radius: 5vh;
    margin-top: 5vh;
    width: 50vh;
    border-bottom: 1vh solid #AA0000;
}
.flight .bg{
    position: absolute;
    top: 0%;
    z-index: -1;
    background-color: #AA0000;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
    height: 50vh;
    width: 110vw;
    border-radius: 0 0 50% 50%;
    animation: TopSlide;
    animation-duration: 1s;
}
@keyframes TopSlide{
    from{top: -60%;}
    to{top: 0%;}
}

.card .Top{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vw;
}
.Top .Logo{
    display: flex;
    justify-content: center;
    width: 33%;
}
.Top .Icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vw;
    height: 4vh;
    border-radius: 2vh;
    background-color: #AA0000;
}
.Top .Kuala{
    width: 33%;
}
.Top .Dubai{
    width: 33%;
}
.Icon .Plane {
    width: 3vh;
    height: 3vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='white' d='M482.3 192c34.2 0 93.7 29 93.7 64c0 36-59.5 64-93.7 64H365.7L265.2 495.9c-5.7 10-16.3 16.1-27.8 16.1h-56.2c-10.6 0-18.3-10.2-15.4-20.4l49-171.6H112l-43.2 57.6c-3 4-7.8 6.4-12.8 6.4H14c-7.8 0-14-6.3-14-14c0-1.3.2-2.6.5-3.9L32 256L.5 145.9c-.4-1.3-.5-2.6-.5-3.9c0-7.8 6.3-14 14-14h42c5 0 9.8 2.4 12.8 6.4L112 192h102.9l-49-171.6c-3-10.2 4.7-20.4 15.3-20.4h56.2c11.5 0 22.1 6.2 27.8 16.1L365.7 192z'/%3E%3C/svg%3E");
}

.card .FlightDetails {
    display: grid;
    padding-left: 3vh;
    padding-right: 3vh;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.card .Item{
    display: flex;
    justify-content: center;
}

.card .Separator{
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: black;
    height: 0.2vh;
    width: 40vh;
    margin-left: auto;
    margin-right: auto;
}
