*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}
.Homepage{
    margin: 0;
    padding: 0;
}
.TopCards{
    margin-left: 1vw;
    margin-top: 1vw;
    margin-bottom: 5vh;
    width: 100vw;
    column-gap: 1vw;
    row-gap: 1vw;
    display: grid;
    grid-template-columns: auto auto;
}
.Container1{
    border-radius: 1vw;
    padding: 1.5vw;
    background-color: #FFFFFF;
}
.Container2{
    border-radius: 1vw;
    padding: 1.5vw;
    background-color: #FFFFFF;
}
.Container3{
    border-radius: 1vw;
    padding: 1.5vw;
    margin-right: 2vw;
    background-color: #FFFFFF;
    grid-column: 2;
    grid-row: 1/ span 2;
}


.botCards{
    max-width: 10vw;
    width: 10vw;
}
.Points{
    margin-left: 1vw;
    margin-bottom: 1vh;
}
.cardContainer{
    display: grid;
    overflow-x: scroll;
    grid-template-columns: repeat(15,1fr);
}
.Carousel .card{
    padding: 1vh;
    height: 30vh;
    width: 32.5vh;
    aspect-ratio: 1/1;
    object-fit: cover;
    background-color: #FFFFFF;
    border-radius: 2vh;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 0.5vw;
    margin-top: 0;
    transition-duration: 0.3s;
    
}
.card img{
    object-fit: cover;
    border-radius: 2vh;
    width: 100%;
    height: 55%;
    transition-duration: 0.3s;
}
.cardContent{
    padding: 0.5vw;
}
.cardContent h3{
    font-size: 2vh;
    margin-bottom: 1vh;
}
.cardContent .Location{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.Location .Add{
    margin-right: 0.5vh;
    min-width: 3vh;
    min-height: 3vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23aa0000' d='M12 11.5A2.5 2.5 0 0 1 9.5 9A2.5 2.5 0 0 1 12 6.5A2.5 2.5 0 0 1 14.5 9a2.5 2.5 0 0 1-2.5 2.5M12 2a7 7 0 0 0-7 7c0 5.25 7 13 7 13s7-7.75 7-13a7 7 0 0 0-7-7'/%3E%3C/svg%3E");
}
.cardContent p{
    color: #666;
    font-size: 1.5vh;
}
/*.Carousel .card:hover{
    height: 35vh;
    transition-duration: 0.3s;
}*/
::-webkit-scrollbar {
    height: 1.25vh;
}
::-webkit-scrollbar-thumb {
    border-radius: 1.5vh;
    background: #aa0000;
}


.Homepage .bg{
    color: #FFFFFF;
    padding: 1vw;
    display: flex;
    position: absolute;
    bottom: 0%;
    z-index: 1;
    background-color: #aa0000;
    height: 4vh;
    width: 100vw;
    border-radius: 4vh 4vh 0 0;
    animation: BotSlide;
    animation-duration: 1s;
}
.Homepage .bg h1{
    font-size: 2vh;
    margin: 0.3vh;
}

@keyframes BotSlide{
from{bottom: -15%;}
to{bottom: 0%;}
}



.Container1 .Top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.TopCards h1 {
    color: #aa0000;
    font-size: 3vh;
    margin-bottom: 1vh;
}
.TopCards h2 {
    color: #000000;
    font-size: 2vh;
    margin-top: 0.5vh;
}
.TopCards h3{
    color: #000000;
}
.TopCards p {
    color: #000000;
    font-size: 1.5vh
}


.Container2 .Manager{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.Container2 .Icon {
    margin-right: 1vw;
    border-style: solid;
    border-color: #aa0000;
    background-color: #0000004c;
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 32'%3E%3Cpath fill='%23aa0000' d='M.5 31.983a.503.503 0 0 0 .612-.354c1.03-3.843 5.216-4.839 7.718-5.435c.627-.149 1.122-.267 1.444-.406c2.85-1.237 3.779-3.227 4.057-4.679a.5.5 0 0 0-.165-.473c-1.484-1.281-2.736-3.204-3.526-5.416a.492.492 0 0 0-.103-.171c-1.045-1.136-1.645-2.337-1.645-3.294c0-.559.211-.934.686-1.217a.5.5 0 0 0 .243-.408C10.042 5.036 13.67 1.026 18.12 1l.107.007c4.472.062 8.077 4.158 8.206 9.324a.498.498 0 0 0 .178.369c.313.265.459.601.459 1.057c0 .801-.427 1.786-1.201 2.772a.522.522 0 0 0-.084.158c-.8 2.536-2.236 4.775-3.938 6.145a.502.502 0 0 0-.178.483c.278 1.451 1.207 3.44 4.057 4.679c.337.146.86.26 1.523.403c2.477.536 6.622 1.435 7.639 5.232a.5.5 0 0 0 .966-.26c-1.175-4.387-5.871-5.404-8.393-5.95c-.585-.127-1.09-.236-1.336-.344c-1.86-.808-3.006-2.039-3.411-3.665c1.727-1.483 3.172-3.771 3.998-6.337c.877-1.14 1.359-2.314 1.359-3.317c0-.669-.216-1.227-.644-1.663C27.189 4.489 23.19.076 18.227.005l-.149-.002c-4.873.026-8.889 4.323-9.24 9.83c-.626.46-.944 1.105-.944 1.924c0 1.183.669 2.598 1.84 3.896c.809 2.223 2.063 4.176 3.556 5.543c-.403 1.632-1.55 2.867-3.414 3.676c-.241.105-.721.22-1.277.352c-2.541.604-7.269 1.729-8.453 6.147a.5.5 0 0 0 .354.612'/%3E%3C/svg%3E");
}






.Container3 .Weather{
    display: grid;
    grid-template-columns: 15vw 15vw;
}


.TempBG{
    position: absolute;
    top: 0%;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    z-index: -2;
}





